html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url('/acme/images/site/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 320px;
}

.submit {
    margin: 10px;
    min-height: 27px;
    background-color: #de2226;
    font-size: .85em;
}

#createAccount {
    margin-top: 0px;
    width: 11%;
}

#page-header {
    display: flex;
    justify-content: space-between;
}

form {
    margin: 10px;
}

label {
    display: inline-block;
    /* float: left; */
    clear: left;
    width: 115px;
    text-align: right;
    margin-top: 5px;
}

input {
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    /* float: left; */
}

.big_btn {
    width: 15%;
    height: 35px;
    position: relative;
    left: 41%;
}

#logo-img {
    width: 25%;
    object-fit: contain;
}

#my-account {
    flex-direction: unset;
    margin: 7px;
    font-size: 1.5em;
}

#my-account img {
    width: 45px;
    margin-right: 5px;
}

#full-body-wrapper {
    margin: 3vw;
    margin-top: 0;
    margin-top: 0;
}

#navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    font-size: calc(7px + 0.55em);
}

#navigation ul li {
    min-height: 40px;
    justify-content: space-between;
}

#navigation a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: .1em;
    margin: 1em;
}

#hero-list {
    width: min-content;
    min-width: 56%;
    position: relative;
    left: 44%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
}

#hero-des-list {
    min-height: 120px;
}

#hero-des-list h2 {
    font-size: 1.6em;
}

#hero-des-list li {
    list-style: none;
    color: #990033;
}

#rocket-reviews li {
    margin: 2px 15px;
}

#rocket-reviews {
    margin: 10px;
}

#rocket-reviews h2 {
    margin: 0;
}

.title {
    font-size: 25px;
    margin-left: 10px;
}

#featured-recipes img {
    border-right: 30px solid lightgrey;
    border-left: 30px solid lightgrey;
    width: 100px;
}

#line-break {
    height: 2px;
    background-color: black;
}

.flex_recipe_container {
    display: flex;
    text-align: center;
    margin-top: 15px;
}

.flex_recipe_container a {
    color: #0000ee;
}

#featured-recipes {
    display: flex;
    flex-direction: column;
    align-items: center
}

#navigation {
    background-color: #de2226;
    width: auto;
    font-size: 2vw;
    z-index: 100;
}

#full-body-wrapper {
    background: white;
}

#acme-rocket {
    background: url('/acme/images/site/rocketfeature.jpg') no-repeat;
    background-size: cover;
    height: 35vw;
    min-height: 120px;
}

#hero-des-list {
    font-size: 0.78em;
}

#actionbtn {
    margin-left: -1.1%;
    width: 84%;
    max-width: 227px;
}

footer {
    margin-bottom: 2em;
    text-align: center;
    font-size: .7em;
}

/* content */

.hide {
    display: none;
}

#content-head {
    margin: 7px;
}

#big-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row
}

#content-img {
    height: 1%;
    width: 25%;
}

#content-flex-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

#content-flex-container div {
    margin: 10px 0;
}

#content-price {
    font-size: 2em;
    color: #de2226;
}

.form {
    margin-left: 8px;
    width: 24%;
    min-width: 175px;
    height: 3%;
    min-height: 25px;
}



@media screen and (min-width: 500px) {
    #full-body-wrapper {
        margin: 6vw;
        margin-top: 0;
    }
}

#hero-des-list {
    font-size: 1.3vw;
}

#hero-list {
    background-color: unset;
}

#featured-recipes img {
    border-right: 35px solid lightgrey;
    border-left: 35px solid lightgrey;
    width: 150px;
}

@media screen and (min-width: 800px) {
    #full-body-wrapper {
        margin: 10vw;
        margin-top: 0;
        background: white;
    }

    #full-flex-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around
    }

    #featured-recipes img {
        border-right: 35px solid lightgrey;
        border-left: 35px solid lightgrey;
        width: 150px;
    }
}